/* Exemple de styles CSS communs */
body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
}

header nav {
    margin-bottom: 20px;
    
}

footer {
    margin-top: 20px;
    background-color: #f8f9fa;
    padding: 10px 0;
}

.container {
    margin-top: 20px;
}

.list-group-item {
    background-color: #fff;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

h2 {
    margin-bottom: 20px;
}

p {
    margin: 0;
}
